@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #ffffff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #21243a8f;
}

body {
    background-image: linear-gradient(to right, #95A1FC, #7780C9, #4A507D);
    background-attachment: fixed;
}

h1 {
    color: #4A507D;
    text-align: center;
    text-shadow: 1px 1px 2px #34385888;
}

h2 {
    color: #6F717D;
    text-align: center;
}

p {
    text-align: justify;
}